<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta viewport="device-width">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js "></script>
</head>
<body>
<main>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center mb-md-0">
                    <li>
                        <a href="/" class="nav-link px-2 text-secondary">Главная</a>
                    </li>
                    {% if user %}
                    <li>
                        <a class="px-2 btn-success" href="/create_post">создать пост</a>
                    </li>
                    <li>
                        <a class="px-2 btn-success" href="/my_posts">Ваши посты</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="text-end">
                    {% if not user %}
                        <a class="btn btn-success me-2" href="/signup">Зарегистрироваться</a>
                        <a class="btn btn-danger" href="/login">Войти</a>
                    {% else %}
                        <a href="/profile" class="nav-link px-2 text-secondary me-2 d-flex align-items-center">
                            {% if user.avatar %}
                                <img src="{{ url_for('static', path=user.avatar) }}" style="width: 40px;"
                                     class="bg-info rounded-circle me-2">
                            {% else %}
                                <img src="{{ url_for('static', path='/images/blank_avatar.jpg') }}" style="width: 40px;"
                                     class="bg-info rounded-circle me-2">
                            {% endif %}
                            <span>Профиль</span>
                        </a>

                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</main>
</body>
</html>