{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="m-3" align="center">создать пост</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">введите название</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">содержание поста</label>
            <textarea class="form-control" rows="3" name="content"></textarea>
        </div>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Загрузите до 5 картинок</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple name="images">
        </div>
        <button class="btn btn-success mb-2">Создать пост</button>
        <div>
            <p class="text-danger">{{ error }}</p>
        </div>

{% endblock %}
