{%  extends "base.html" %}


{% block content %}
	<div class="container">
        <h2 class="m-3" align="center">Изменение поста</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">пост</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">изменить пост</label>
                <input class="form-control" type="file" id="formFile" name="avatar">
            </div>
            <button class="btn btn-success mb-2">Изменить</button>
        </form>
        <p class="text-danger">{{ error }}</p>
    </div>
{% endblock %}